*.class

# Package Files #
*.jar
*.war
*.ear
/IRMS/IRMS-ejb/dist/
/IRMS/IRMSCustomer-war/nbproject/private/
/IRMS/IRMS-war/build/
/IRMS/IRMS-war/dist/
/IRMS/build/
/IRMS/IRMSCustomer-war/dist/
/IRMS/IRMSCustomer-war/build/
/IRMS/dist/
/IRMS/IRMS-ejb/build/