*.class

# Package Files #
*.jar
*.war
*.ear
/IRMS/IRMS-ejb/build/
/IRMSClient/nbproject/private/
/IRMS/IRMS-ejb/dist/
/IRMSClient/build/
/IRMSClient/dist/
/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/IRMS/IRMSCustomer-war/build/
/IRMS/dist/
/IRMS/IRMS-war/dist/
/IRMS/IRMS-war/build/
/IRMS/build/
/IRMS/IRMSCustomer-war/dist/
/IRMS/IRMSPartner-war/dist/
/IRMS/IRMSPartner-war/build/
/IRMS/nbproject/private/
/IRMS/IRMS-war/nbproject/private/
/IRMS/IRMS-ejb/nbproject/private/
/IRMSCustomer-war/nbproject/private/
/IRMS/IRMSCustomer-war/nbproject/private/
/IRMS/IRMSPartner-war/nbproject/private/
/IRMS/IRMSRest-war/nbproject/private/
/IRMS/IRMSRest-war/build/
/IRMS/IRMSRest-war/dist/
/Backup/IRMS/IRMSPartner-war/build/
/Backup/IRMS/IRMSPartner-war/nbproject/private/
/EnterpriseApplication2/EnterpriseApplication2-ejb/nbproject/private/
/EnterpriseApplication2/EnterpriseApplication2-war/nbproject/private/
/EnterpriseApplication2/EnterpriseApplication2RWS/nbproject/private/
/EnterpriseApplication2/nbproject/private/
/IRMS-war/nbproject/private/
/IRMSPartner-war/nbproject/private/
/IRMSRest-war/nbproject/private/
MANIFEST.MF